body{
    text-align: center;
    font-family: "Arial";
    color: black;
}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container h2{
    font-size: 2rem;
}

#post{
    padding: .5rem 1rem;
    color: black;
}

#cabecera h1{
    background: #33A;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 1rem;
}